@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Hebrew:wght@100;200;300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --fontSizeDefault: 10px;
}

html{
    font-size: var(--fontSizeDefault);
}

* {
    box-sizing: border-box;
    border: none;
}

body{
    overflow-x: hidden;
    height: 100%;
    width: 100vw;
    background: var(--WhiteColor);
}

ion-icon{
    font-size: 4rem;
}